html {
  font-family: "Lucida Sans", sans-serif;
  background-color: #FFFFFC;
  color: #000000;
}

header {
  background-color: #BDB2FF;
  color: #FFFFFC;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: #FFC6FF;
  text-align: center;
  padding: 1%;
}

footer {
  background-color: #FFADAD;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 600px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
